{% extends "base_auth.html" %}

{% block title %}Login - VitaPulse{% endblock %}

{% block heading %}Welcome Back!{% endblock %}

{% block content %}
{% if error %}  <div class="error-message">{{ error }}</div>  {% endif %}
<form action="/login" method="post">
    {{ form.csrf_token }}
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Login">
</form>
{% endblock %}
