{% extends "base_auth.html" %}

{% block title %}Login - VitaPulse{% endblock %}

{% block heading %}Welcome Back!{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <ul>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/auth/login" method="post">
    {{ form.csrf_token }}
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Login">
</form>
{% endblock %}
