{% extends "base_auth.html" %}

{% block title %}Sign Up - VitaPulse{% endblock %}

{% block heading %}Join VitaPulse today{% endblock %}


{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <ul>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/signup" method="post">
    {{ form.csrf_token }}
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="confirm_password">Confirm Password:</label><br>
    <input type="password" id="confirm_password" name="confirm_password"><br><br>
    <input type="submit" value="Sign Up">
</form>
{% endblock %}
