{% extends "base.html" %}

{% block title %}
    <title>Exercise Tracking - VitaPulse</title>
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <section id="main" class="wrapper style2">
        <div class="title">Exercise Tracking</div>
        <div class="container">
            <!-- Content specific to Exercise Tracking -->
            <p>Log your daily exercise routines with ease using VitaPulse.</p>
            <p>Insert more detailed information, tutorials, or screenshots here.</p>
        </div>
    </section>
{% endblock %}
