<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VitaPulse{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/actions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/container.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/logo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/wrapper.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/feature_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/features.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/highlights.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/image.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/intro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive/breakpoints/extra_large_size.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive/breakpoints/large_size.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive/breakpoints/medium_size.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive/breakpoints/small_size.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utils/box.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utils/copyright.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utils/list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utils/row.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utils/table.css') }}">
</head>
<body>
    <div id="page-wrapper">
        <section  id="header" class="header">
            <!-- Header -->
            <header class="wrapper">
                <h1><a href="/">VitaPulse</a></h1>
                <p>A health tracker app for a vibrant life</p>
            </header>
        </section>

        <!-- Main content -->
        <div id="main" class="wrapper">
            <div class="container">
                <h2>{% block heading %}{% endblock %}</h2>
                {% block content %}{% endblock %}
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer" class="wrapper">
            <p>&copy; VitaPulse. All rights reserved.</p>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
