<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VitaPulse{% endblock %}</title>
    <link rel="stylesheet" href="static/css/base/basic.css">
    <link rel="stylesheet" href="static/css/base/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/base/global.css">
    <link rel="stylesheet" href="static/css/components/actions.css">
    <link rel="stylesheet" href="static/css/components/button.css">
    <link rel="stylesheet" href="static/css/components/form.css">
    <link rel="stylesheet" href="static/css/components/navbar.css">
    <link rel="stylesheet" href="static/css/layout/container.css">
    <link rel="stylesheet" href="static/css/layout/footer.css">
    <link rel="stylesheet" href="static/css/layout/header.css">
    <link rel="stylesheet" href="static/css/layout/logo.css">
    <link rel="stylesheet" href="static/css/layout/wrapper.css">
    <link rel="stylesheet" href="static/css/modules/feature_list.css">
    <link rel="stylesheet" href="static/css/modules/features.css">
    <link rel="stylesheet" href="static/css/modules/highlights.css">
    <link rel="stylesheet" href="static/css/modules/icons.css">
    <link rel="stylesheet" href="static/css/modules/image.css">
    <link rel="stylesheet" href="static/css/modules/intro.css">
    <link rel="stylesheet" href="static/css/modules/section.css">
    <link rel="stylesheet" href="static/css/responsive/breakpoints/extra_large_size.css">
    <link rel="stylesheet" href="static/css/responsive/breakpoints/large_size.css">
    <link rel="stylesheet" href="static/css/responsive/breakpoints/medium_size.css">
    <link rel="stylesheet" href="static/css/responsive/breakpoints/small_size.css">
    <link rel="stylesheet" href="static/css/utils/box.css">
    <link rel="stylesheet" href="static/css/utils/copyright.css">
    <link rel="stylesheet" href="static/css/utils/list.css">
    <link rel="stylesheet" href="static/css/utils/row.css">
    <link rel="stylesheet" href="static/css/utils/table.css">
</head>
<body>
    <div id="page-wrapper">
        <section  id="header" class="header">
            <!-- Header -->
            <header class="wrapper">
                <h1><a href="/">VitaPulse</a></h1>
                <p>A health tracker app for a vibrant life</p>
            </header>
        </section>

        <!-- Main content -->
        <div id="main" class="wrapper">
            <div class="container">
                <h2>{% block heading %}{% endblock %}</h2>
                {% block content %}{% endblock %}
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer" class="wrapper">
            <p>&copy; VitaPulse. All rights reserved.</p>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.dropotron.min.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>
